
@font-face {
    font-family: 'Font'; 
    src: url('/font.woff2');
}
.body{
    background-color: azure;
}
//contractSection
.main{
    width: calc(94% - 240px);
    height: 98vh;

    margin-left: 240px;
    padding-top: 2vh;

    padding-left: 3%;
    padding-right: 3%;

    font-family: font !important;
}

.searchbar{
    height: 50px;
    width: calc(100% - 20px);
    border: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
}

.searchbarInput{
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    overflow: hidden;

    transition: border 0.4s;
}

.searchbarInput input{
    border: none;
    height: 100%;
    width: 100%;
}

.searchbarInput input:focus {
    outline:none !important;
}

.searchbarInput:hover{
    border: 1px solid blue;
}

.searchbarInput div{
    transition: color 0.4s;
}
.searchbarInput:hover div{
    color: blue;
}

.WalletMultiButton button{
    background-color: rgb(15, 13, 13);
}

.helloContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}
