@font-face {
    font-family: 'Font'; 
    src: url('/font.woff2');
}

.containerBody{
    display: flex;
}

//navbar
.navbar{
    position: sticky;
    top: 0px;
    padding: 20px;
    height: 100vh;
    width: 240px;
}

.navbarContainer{
    position: relative;
    height: 100%;
    background-color: rgb(15, 13, 13);
    border-radius: 6px;
}

.navbarImage{
   margin: 10px;
}

//contractSection
.main{
    //background-color: blue;
    width: calc(100% - 240px);
    //height: 100vh;
    padding-top: 20px;

    padding-left: 20px;
    padding-right: 20px;

    font-family: font !important;
}

.searchbar{
    height: 50px;
    width: 100%;
    border: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px; padding-right: 10px;

    background-color: white;
    border-radius: 8px;
}

.searchbarInput{
    width: 400px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 8px;

    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;

    transition: border 0.4s;
}

.searchbarInput input{
    border: none;
    height: 100%;
    width: 100%;
}

.searchbarInput input:focus {
    outline:none !important;
}

.searchbarInput:hover{
    border: 1px solid blue;
}

.searchbarInput div{
    transition: color 0.4s;
}
.searchbarInput img{
    transition: filter 0.4s;
}

.searchbarInput:hover img{
    filter: invert(8%) sepia(99%) saturate(7479%) hue-rotate(248deg) brightness(99%) contrast(144%);
}

.searchbarInput:hover div{
    color: blue;
}

.WalletMultiButton button{
    background-color: rgb(15, 13, 13);
    font-family: Font !important;
}

.helloContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.contentContainer{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contentWrapper{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 30px;
}
.textHeaderContainer{
    display: flex;
    justify-content: space-between;    
}

.textHeader{
    font-size: 30px;
    width: 40vw;
}
.textHeaderContainer a{
    text-decoration: none;
}
.textHeaderLink{
    font-weight: 900;
    font-size: 15px;
    color: black;
}

.textHeaderLink:hover{
    color: blue;
}

.textHeaderLink:hover::after{
    content: " >";
    padding-right: 0px;
    padding-left: 2px;
}

.textHeaderLink::after{
    content: " >";
    padding-right: 2px;
    font-size: 13px;
    transition: all 0.1s ease-in;
}


.infoCard{
    position: relative;
    height: 180px;
    width: 100%;
    border: solid 1px rgb(230,230,230);
    border-radius: 5px;
    background-color: white;

    font-size: small;
    overflow: hidden;
    text-decoration: none;

    background-color: white;
    //background: rgb(1,41,86);
    //background: linear-gradient(35deg, rgba(1,41,86,1) 0%, rgba(4,87,122,1) 100%);

    color: black !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.infoCard:hover{
    border-color: blue;
}

.infoCard:hover .infoCardTop{
    background-color: #ecf3ff;
}

.infoCardTop{
    width: 100%;
    height: 35px;
    color: rgb(100 116 139);
    font-size: 16px;
    font-weight: 900;
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inforCardMiddle{
    width: 70%;
    height: 100%;
    overflow:hidden;
    font-size: 8px;
    background-color: rgb(239, 239, 239);
}
.inforCardMiddleBlur{
    filter: blur(2.2px);
}

.inforCardBottom{
    width: 100%;
    height: 30px;
    //border-top: 1px solid lightgrey ;
    position: relative;
    padding: 10px;
    background-color: #fdfdfd;

    display: flex;
    align-items: center;
    justify-content: space-between;
}