@font-face {
    font-family: 'Font'; 
    src: url('/font.woff2');
}
//body 
.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font !important;
    background-color: rgba(251,253,255);
}
.body *{
    box-sizing: border-box !important;
}
.main{
    background-color: white;
    width: 100vw;
    height: 100vh;
    //overflow-y: overlay;
    //overflow-x: hidden;
    
}
//Scrollbar 
/* width 
::-webkit-scrollbar {
    width: 7px;
  }
  
  //Track 
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  //Handle
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  //Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }*/

//header
.header{
    position: fixed;
    top: -15%;
    height: 15vh;
    width: 100vw;
    z-index: 2;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;

    //mix-blend-mode: difference;
    background-color: rgb(15, 13, 13);

    transition: top 0.2s linear, background-color 0.3s linear ;;
}
.lgHidden{
    display: none;
    background-color: none;
    border: none;
    cursor: pointer;
}
.headerLeft{
    display: flex;
    align-items: center;
    height: 100%;
}
.headerLeft img{
    height: 40px;
    width: 50px;
    mix-blend-mode: difference;
}
.headerRight{
    display: flex;
    align-items: center;
    color: white;
    mix-blend-mode: difference;
}
.headerRight p{
    margin-left: 50px;
    mix-blend-mode: difference;
    color: white !important;
    text-decoration: none;
}
.headerRight a{
    text-decoration: none;
}
.contactHeader{
    width: 32px;
    height: 27px;
    background-color: #ac68cc; //inverse #539733
    margin-left: 50px;
    border-radius: 4px;
}

.headerActive{
    top: 0vh !important;
}
.headerInactive{
    top: -15vh;
}

.headerChange{
    background-color: white !important;
}

.menuDropDownInactive{
    display: none;
}

.menuDropDownActive{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 50;
}

.menuContainer{
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 40%;
    min-width: 330px;
    background-color: #ac68cc;
    
}
.menuTop{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 18px;
    padding-top: 5vh;
}

.menuTop img{
    background: black;
    height: 40px;
    width: 50px;
}

.menuTop button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menuMiddle{
    padding: 18px;
    margin-top: 50px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuMiddle a{
    text-decoration: none;
    color: black;
}

.menuBtm{
    margin-top: auto;
    padding: 18px;
}
.menuLoginBtn{
    display: grid;
    place-content: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

.menuOverlay{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.6);
}
//landing
.landing{
    width: 100vw;
    height: 200vh;
    background-color: rgb(15, 13, 13);
    color: white;
    position: relative;
    top: -15vh;
    
    z-index: 1;

    transition: background-color 0.3s linear ;
}

.landingTxt{
    position: absolute;
    top: 40vh;
    left: 10vw;
}
.landingTxt h1{
    font-size: 150px;
}
.landingTxt p{
    font-size: 30px;
}

.landingChange{
    background-color: transparent !important;
}
//about 
.bodyPosition{
    position: relative;
    top: -110vh;
}
.about{
    position: relative;
    background-color: white;

    padding-left: 5vw;
    padding-right: 5vw;

    //border-top: gray solid 1px;
    
}
.about h1{
    padding-top: 60px;
}
.textTitle{
    font-size: 100px;
    width: 750px;
}

.textLeftFloat{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}
.textHeader{
    padding-top: 60px;
    font-size: 45px;
}
.textSubheader{
    font-size: 30px;
    width: 40vw;
    float: left;
}
.textSubKHeader{
    font-size: 28px;
    
}
.textKMain{
    font-size: 18px;
    line-height: 25px;
    width: 65%;
}

.textMain{
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    width: 75%;
}

.imageLarge{
    object-fit: cover;
    object-position: 40px 60%;
    padding-top: 60px;
    height: 900px;
    width: 90%;
    filter: grayscale(80%);
}

.imageSection{
    width: 100vw;
    padding: 5vw;
}

.imageContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.imageSmallL{
    width: 65%;
    height: 700px;
    object-fit: cover;
    //filter: grayscale(40%);
}

.imageSmallR{
    width: 300px;
    height: 400px;
    object-fit: cover;
    filter: grayscale(90%);
}

.aboutFunction{
    margin-top: 100px;
    background-color: rgb(248 248 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.aboutFunctionTitle{
    width: 70%;
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
}
.aboutFunctionContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutFunctionContent{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 235px;
    height: 300px;
}

.aboutFunctionContent svg{
    width: 80px;
}

.aboutFunctionHeader{
    font-size: 23px;
}


.footer{
    background-color: rgb(15, 13, 13);
    height: 600px;
    padding-left: 12%; padding-right: 12%; padding-top: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footerLeft{
    width: 50%;
}
.footerLeftImg{
    height: 40px;
    width: 50px;
}
.footerRight{
    width: 50%;
}
.footerRightNav{
    margin-top: 140px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    
}

.footerRightNav h1:hover{
    cursor: pointer;
    text-decoration: underline;
}

//mobile 
@media (max-width: 1020px) {
    .headerRight a{
        display: none;
    }
    .lgHidden{
        display: flex;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
    }
    .menuDropDownActive{
        display: flex;
    }

    .landingTxt h1{
        font-size: 100px;
    }
    .landingTxt p{
        font-size: 20px;
    }
    .textTitle{
        font-size: 50px;
        width: 400px;
    }
    .textSubheader{
        font-size: 20px;
    }
    .textHeader{
        font-size: 35px;
    }
    .textSubKHeader{
        font-size: 25px;
    }
    .textKMain{
        font-size: 14px;
    }

    .imageSmallL{
        width: 65%;
        height: 400px;
    }
    .imageSmallR{
        width: 150px;
        height: 225px;
    }
}